p{
  margin:6px 6px 10px 6px;
}

.footer {
  position:sticky;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  background-color: #030b14;
  color: white;
  padding: 10px 0;
  bottom: 0;
  left: 0;
}

.footer-links{
  padding-bottom: 5px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 0 0 0px;
  padding-right: 15px;
}

.footer-links a:hover {
  text-decoration: underline;
}
