
* {
    box-sizing: border-box;
  }
  
  .home-middle {
    position: relative;
    width: 100%;
    height: calc(100vh - 110px);
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }
  
  .image {
    width: 100%;
    height: 100%;
    padding: 0px;
    object-fit: cover;
    filter: brightness(50%);
    position: relative;
    top: 0;
    left: 0;

  }
  
  /* Dark Overlay */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  /* Text Over Image */
  .home-text {
    position: absolute;
    z-index: 2;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    padding: 5 20px; /* Prevents text from touching screen edges */
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .home-text {
      font-size: 1.5rem;
      padding: 0 10px;
    }
  }
  